html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background-color: black;
}
.btn a {
  position: relative;
  display: block;
  height: 70px;
  width: 220px;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(
    1115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
}

.btn a span {
  height: 70%;
  width: 90%;
  display: block;
  background: #111;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  line-height: 62px;
  color: #f5f5f5;
  font-size: 25px;
}

.btn a:hover {
  animation: animate 0.8s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(-360deg);
  }
}
