::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  /* border: 10px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5); */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff444462, #ff932db7);
}
